<h3> Acesso ao Gateway MundiPagg </h3>


<form name="form">

    <div class="row centered">
        <span class="col-md-1"> Usuário </span>   
        <input type="text" ng-model="user.userName" id="user.userName" required="required" maxlength="50" class="col-md-4"/>
    </div>
    <div class="row centered" >
        <span class="col-md-1"> Senha </span>  
        <input type="text" ng-model="user.password" id="user.password" required="required" maxlength="30" class="col-md-4"/>
    </div>
    <div class="row centered">
        <input type="reset" value="Limpar" class="col-md-2"/>
        <input type="button" ng-click="form.$valid && ctrl.getAccessToken(user)" value="Logar" class="col-md-2"/>
    </div>
    

</form>